html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title 
		link(rel='stylesheet', type='text/css', href='css/login.css')
	body
		.wrapper
			.container
				h1 Iconic Companies Login Portal
				form.form#log
					input(type='text', required id="uname" name="uname", placeholder='Username')
					input(type='password', required id="pass" name="pass", placeholder='Password')
					button#login-button(type='submit') Login
			ul.bg-bubbles
				li
				li
				li
				li
				li
				li
				li
				li
				li
				li
		script(src="/js/jquery.min.js")
		script(src="/js/login.js")